body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.navbar {
    background-color: #333;
    color: #fff;
    padding: 15px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.main-header {
    background: #333;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}
.signup {
    background: #fff;
    padding: 50px 20px;
    text-align: center;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e8491d;
    color: #fff;
    text-decoration: none;
}
